# Pregunta 1, parte 1

## Importacion

In [1]:
import pandas as pd
from paths import *
from functools import reduce

In [2]:
# Documentación del módulo 'paths'.
# import paths
# help(paths)

## Carga de datos

### Creación de la tabla mezclada

In [29]:
# Lista de DataFrames.
L_DF = [pd.read_csv(dict_csv_mc_a[wNN]) for wNN in L_WNN]

# Función merge para el 'reduce'
def func_merge(df1, df2): return pd.merge(df1, df2, how='outer')

# Reducimos L_DF con la función 'func_merge' 
df = reduce(func_merge, L_DF)

# Quitamos las filas que sean iguales y reindexamos
df.drop_duplicates(ignore_index=True, inplace=True)

df.head()

,property_type|rent_type|location,price,n_rooms,n_bath,surface,details,url,metrocuadrado_index
0,"Casa en Arriendo, LA SOLEDAD NORTE Bogotá D.C..",$1.050.000,3,2,63.0 m2,Excelente casa cerca de la calle 80 y Avenida ...,https://www.metrocuadrado.com/inmueble/arriend...,25.6
1,"Casa en Arriendo, CIUDAD SALITRE SUR-ORIENTAL ...",$3.930.000,3,2,100.0 m2,Se arrienda casa bonita totalmente amoblada co...,https://www.metrocuadrado.com/inmueble/arriend...,57.3
2,"Casa en Arriendo, VILLA DE LOS ALPES II SECTOR...",$750.000,3,1,90.0 m2,CASA DE TRES NIVELES TRES ALCOBAS SALA COMEDOR...,https://www.metrocuadrado.com/inmueble/arriend...,12.2
3,"Casa en Arriendo, PARIS GAITAN Bogotá D.C..",$3.400.000,5,4,71.0 m2,casa ezquinera excelente ubicacion cinco alcob...,https://www.metrocuadrado.com/inmueble/arriend...,56.0
4,"Casa en Arriendo, BALCONES DE ORIENTE Bogotá D...",$1.560.000,4,3,96.0 m2,"Excelente casa de tres niveles, buena ubicació...",https://www.metrocuadrado.com/inmueble/arriend...,47.1

### Quitar filas que sean iguales

In [114]:
# df1 = pd.read_csv(dict_csv_mc_a['w14']).drop_duplicates(ignore_index=True)
# df2 = pd.read_csv(dict_csv_mc_f['w14']).drop_duplicates(ignore_index=True)
# # pd.merge(df1, df2, how='inner')
# # df2

In [115]:
# df1['n_rooms'].dropna(inplace=True)
# # df1['n_rooms'].astype('int')
# for n in df1['n_rooms']:
# #     print(n, type(n))
#     pass
# df1

In [116]:
# df2.dropna(inplace=True)
# # df2['n_bath'] = df2['n_bath'].dropna()
# # df2['n_rooms'] = df2['n_rooms'].astype(int).astype(str)
# # df2['n_bath'] = df2['n_bath'].astype(int).astype(str)
# for n in df2['n_bath']:#.astype(int):#.astype(str):
#     print(n)
#     print(int(n))