# Pregunta 1, parte 1

## Importacion

In [1]:
import pandas as pd
from paths import *
from functools import reduce

In [2]:
# Documentación del módulo 'paths'.
# import paths
# help(paths)

## Carga de datos

### Creación de la tabla mezclada

In [9]:
# Cargar todos los csv en dos listas distinguidas por 
# la aparicion de 'furnished' en el nombre

# Lista de DataFrames (Sin 'furnished' en el nombre)
L_DF_a = [pd.read_csv(dict_csv_mc_a[wNN]) for wNN in L_WNN]
# Lista de DataFrames (Con 'furnished' en el nombre)
L_DF_f = [pd.read_csv(dict_csv_mc_f[wNN]) for wNN in L_WNN]

In [31]:
# se unen todos los data_frame en cada lista con el comando concat
DF_a = pd.concat(L_DF_a)
DF_f = pd.concat(L_DF_f)

# Se crea una columna con tantos ceros como la cantidad de filas de DF_a
# y con tantos unos como la cantidad de filas de DF_f 
furnished_col = pd.DataFrame(data = {'furnished':[0]*(DF_a.shape[0]) + [1]*(DF_f.shape[0])})

# Concateno los data frames DF_a y DF_f y le agrego al final la columna furnished_col
df = pd.concat([DF_a,DF_f], ignore_index=True) 
df = pd.concat([df,furnished_col], axis=1)

In [35]:
# Quitamos las filas que sean iguales en todas las columnas con excepcion de
# la columna furnished y reindexamos
df.drop_duplicates(subset = df.columns[:-1], ignore_index=True, inplace=True)

# comentario: si hay filas duplicadas con distintos valores de furnished, se elimina la primera

In [39]:
# reportar si Reporte si existen observaciones de archivos con texto ’furnished’ que no est´en
# contenidos en archivos con texto ’all’

## Pregunta 1, parte 2

In [11]:
# Limpieza de datos

### Agregar los datos de `'furnished'`

In [3]:
# Crear DataFrames
df1 = pd.read_csv(dict_csv_mc_a['w14']).drop_duplicates(ignore_index=True)
df2 = pd.read_csv(dict_csv_mc_f['w14']).drop_duplicates(ignore_index=True)

In [4]:
# Creamos valores a reemplazar
cols = df2.columns
elem = ['Sin nombre', '$0', 'NA', 'NA', '0.0 m2', '', '', '0.0']
n = cols.shape[0]

valores_nulos = {
    cols[i]:elem[i] for i in range(n)
}
valores_nulos

{'property_type|rent_type|location': 'Sin nombre',
 'price': '$0',
 'n_rooms': 'NA',
 'n_bath': 'NA',
 'surface': '0.0 m2',
 'details': '',
 'url': '',
 'metrocuadrado_index': '0.0'}

In [5]:
# Reemplazamos los valores
df2.fillna(value=valores_nulos, inplace=True)

In [6]:
df2.fillna(value=valores_nulos, inplace=True)

In [7]:
df2

,property_type|rent_type|location,price,n_rooms,n_bath,surface,details,url,metrocuadrado_index
0,"Casa en Arriendo, CIUDAD SALITRE SUR-ORIENTAL ...",$3.930.000,3,2,100.0 m2,Se arrienda casa bonita totalmente amoblada co...,https://www.metrocuadrado.com/inmueble/arriend...,57.3
1,"Casa en Venta Y Arriendo, BELLAVISTA Bogotá D.C..",$1.300.000,3,2,72.0 m2,"hermosa casa en venta y en arriendo en, mandal...",https://www.metrocuadrado.com/inmueble/venta-c...,41.4
2,"Casa en Arriendo, PORTALES DEL NORTE Bogotá D.C..",$1.800.000,3,3,76.81 m2,Estrato 4. CASA TRIPLEX!! Exterior . Cuenta co...,https://www.metrocuadrado.com/inmueble/arriend...,41.3
3,"Casa en Venta Y Arriendo, SANTA SOFIA Bogotá D...",$1.500.000,5,3,76.22 m2,"Casa en Santa Sofia, excelente ubicación sobre...",https://www.metrocuadrado.com/inmueble/venta-c...,34.2
4,"Casa en Venta Y Arriendo, URBANIZACION SABANA ...",$145.000.000,3,2,77.0 m2,"Casa esquinera, de tres niveles, se venden mue...",https://www.metrocuadrado.com/inmueble/venta-c...,62.5
...,...,...,...,...,...,...,...,...
1592,"Apartamento en Arriendo, SANTA BARBARA OCCIDEN...",$4.390.000,2,3,110.0 m2,amoblado con terraza.,https://www.metrocuadrado.com/inmueble/arriend...,64.2
1593,"Apartamento en Arriendo, ANTIGUO COUNTRY Bogot...",$4.500.000,2,3,120.0 m2,"Lindo apto en el sector de Chico Virrey, cerca...",https://www.metrocuadrado.com/inmueble/arriend...,55.4
1594,"Apartamento en Arriendo, MOLINOS NORTE Bogotá ...",$4.100.000,2,3,114.0 m2,"Hermoso apto, rodeado de verde por todos lados...",https://www.metrocuadrado.com/inmueble/arriend...,59.1
1595,"Apartamento en Arriendo, EL NOGAL Bogotá D.C..",$8.450.000,2,2,175.0 m2,"ESPECTACULAR APARTAMENTO CON COCINA ABIERTA, C...",https://www.metrocuadrado.com/inmueble/arriend...,60.2
1596,"Apartamento en Arriendo, PLENITUD Bogotá D.C..",$3.800.000,2,4,107.0 m2,"MAGNIFICO APARTAMENTO DUPLEX AMOBLADO, A DOS C...",https://www.metrocuadrado.com/inmueble/arriend...,68.9

In [8]:
# prueba