# Pregunta 1, parte 1

## Importacion

Se importa el módulo `pandas`, y se importa un módulo personal llamado `paths`, que contiene los paths que utilizaremos en este análisis.

In [1]:
import pandas as pd

from paths import *

Esta es la documentación de `paths` (decomentar para verlas).

In [ ]:
# Documentación del módulo 'paths'.
# import paths
# help(paths)

## Carga de datos

### Creación de la tabla mezclada

Cargar todos los .csv en dos listas distinguidas por la aparición de `furnished` en el nombre.

In [3]:
# Lista de DataFrames (Sin 'furnished' en el nombre)
L_DF_a = [pd.read_csv(dict_csv_mc_a[wNN]) for wNN in L_WNN]

# Lista de DataFrames (Con 'furnished' en el nombre)
L_DF_f = [pd.read_csv(dict_csv_mc_f[wNN]) for wNN in L_WNN]

Se unen los `DataFrames` de las listas en un único `DataFrame`, luego se crea una nueva columna llamada `'furnished'` y finalmente se unen los dos `DataFrames` en uno, con la nueva columna incluida.

In [4]:
# se unen todos los data_frame en cada lista con el comando concat
DF_a = pd.concat(L_DF_a)
DF_f = pd.concat(L_DF_f)

# Se eliminan las filas duplicadas de cada data frame por separado
DF_a.drop_duplicates(subset=DF_a.columns, ignore_index=True, inplace=True, keep='last')
DF_f.drop_duplicates(subset=DF_f.columns, ignore_index=True, inplace=True, keep='last')

# Se crea una columna con tantos ceros como la cantidad de filas de DF_a
# y con tantos unos como la cantidad de filas de DF_f 
furnished_col = pd.DataFrame(data={'furnished':[0]*(DF_a.shape[0]) + [1]*(DF_f.shape[0])})

# Concateno los data frames DF_a y DF_f y le agrego al final la columna furnished_col
df = pd.concat([DF_a, DF_f], ignore_index=True) 
df = pd.concat([df, furnished_col], axis=1)

In [4]:
# vemos cuantas filas tiene cada data frame (para reportar si hay filas en furnished 
# que no estan en all)
# print(DF_a.shape[0])
# print(DF_f.shape[0])
# nota: DF_a tiene 16295 filas y DF_f tiene 2099 filas

Para terminar, se quitan las filas duplicadas en ambos grupos, furnished y all

In [5]:
# Quitamos las filas que sean iguales en todas las columnas con excepcion de
# la columna furnished y reindexamos
df.drop_duplicates(subset=df.columns[:-1], ignore_index=True, inplace=True, keep='last')

# comentario 1: si hay filas duplicadas con distintos valores de furnished, se eliminan las primera
# comentario 2: el comentario 1 asegura que si hay dos filas iguales con distintos valores de furnished,
# se elimine la que tiene el valor 0 para furnished, lo que tiene sentido dado que furnished puede estar
# contenido en all

In [6]:
# reportar si Reporte si existen observaciones de archivos con texto ’furnished’ que no estén
# contenidos en archivos con texto ’all’
# print(df[df['furnished'] == 0].shape[0])
# print(df[df['furnished'] == 1].shape[0])
# como ambas selecciones de filas en el dataframe tienen las mismas filas que los originales
# luego de eliminar las filas iguales, se conluye que no hay filas en furnished que no esten
# en all

## Pregunta 1, parte 2

### a) Limpieza de datos

Se crea un diccionario llamado `valores_nulos` que contendrá el nombre de las columnas de `df` como llave, y el valor de la llave será lo que reemplazará el valor `NaN`.

In [6]:
# Creamos valores a reemplazar
valores_nulos = {
#     'property_type|rent_type|location':'Sin nombre',
    'price':'$0',
    'n_rooms':'NA',
    'n_bath':'NA',
    'surface':'0.0 m2',
#     'details':'',
#     'url':'',
#     'metrocuadrado_index':0.0,
#     'furnished':0
}

In [7]:
# Reemplazamos los valores
df.fillna(value=valores_nulos, inplace=True)

#### Reemplazo de los tipos de algunas columnas

Además, en esta etapa se cambiará el tipo de algunas columnas.

##### Funciones auxiliares

In [8]:
# Función que mapeará la columna `price`
def precio_to_int(s:str)->int:
    """
    Toma un precio en forma de `str`, en el formato `'$XXX.XXX.XXX'` 
    con X algún número, y retorna el número entero de ese precio.
    """
    return int(s.replace('$', '').replace('.', ''))

# Función que mapeará la columna `surface`
def n_surface(s:str)->float:
    """
    Toma un `str` en formato "XX.Xm2" y retorna el número real con los metros cuadrados.
    """
    return float(s.replace('m2', ''))

##### Reemplazo de columnas

In [9]:
# Columna de precios
precios_col = df['price'].map(precio_to_int)
# Columna de superficie
superficie_col = df['surface'].map(n_surface)

df['price'] = precios_col
df['surface'] = superficie_col
df.rename(columns={
    'price':'price_$',
    'surface':'surface_m2'
}, inplace=True)

### b) Obtención de 3 columnas a partir de `'property_type|rent_type|location'`

`lower_case_col` es una columna con todas las palabras en minusculas.

In [10]:
lower_case_col = df['property_type|rent_type|location'].str.lower()

#### Columna `tipo de inmueble`

In [11]:
# `casa_bool_col` y `apart_bool_col` son columnas que tienen un -1 si la palabra no está 
# y un número entero positivo si la palabra está.
casa_bool_col = lower_case_col.str.find('casa')
apart_bool_col = lower_case_col.str.find('apartamento')

# Se crea una lista con la infomacion del tipo de inmueble recorriendo las dos columnas anteriores
tipo_inm_list = []
for index in range(len(lower_case_col)):
    if casa_bool_col[index] >= 0:
        tipo_inm_list.append('Casa')
    elif apart_bool_col[index] >= 0:
        tipo_inm_list.append('Apartamento')
    else:
        tipo_inm_list.append('No hay info')

# columna de tipo de inmueble
tipo_inm_col = pd.DataFrame(data = {'tipo_de_inmueble': tipo_inm_list})

# Nota: no hay columnas que no tengan una de las dos informaciones

#### Columna `Tipo de oferta`

In [12]:
# `vent_bool_col` y `arr_bool_col` son columnas que tienen un -1 si la palabra no está 
# y un número entero positivo si la palabra está.
vent_bool_col = lower_case_col.str.find('venta')
arr_bool_col = lower_case_col.str.find('arriendo')

# Se crea una lista con la infomacion del tipo de oferta recorriendo las dos columnas anteriores
tipo_ofer_list = []
for index in range(len(lower_case_col)):
    if (vent_bool_col[index] >= 0) and (arr_bool_col[index] >= 0):
        tipo_ofer_list.append('Arriendo y venta')
    elif arr_bool_col[index] >= 0:
        tipo_ofer_list.append('Arriendo')
    else:
        tipo_ofer_list.append('No hay info')

# columna de tipo de oferta
tipo_ofer_col = pd.DataFrame(data = {'tipo_de_oferta': tipo_ofer_list})

# Nota: no hay columnas que no tengan una de las dos informaciones

#### Columna `location`

In [13]:
# `sep_comas` es una serie que contiene en cada elemento una lista del string correspondiente 
# que separa por comas los grupos de strings
sep_comas = df['property_type|rent_type|location'].str.split(pat = ",")

# Se crea una lista con la infomacion location recorriendo los segundos elementos de la columna anterior
# se asume que la direccion esta al final de cada string
location_list = []
for index in range(len(sep_comas)):
    lista_strings = sep_comas[index]
    location_list.append(lista_strings[1]) 
    
# columna location
location_col = pd.DataFrame(data = {'location': location_list})

#### Agregar las 3 columnas anteriores a `df`

In [14]:
df = pd.concat([df,tipo_inm_col], axis=1)
df = pd.concat([df,tipo_ofer_col], axis=1)
df = pd.concat([df,location_col], axis=1)

In [15]:
# prueba de que location_col no tiene el string de arriendo (solo tiene direcciones)
# prueba_0 = location_col['location'].str.lower()
# prueba_1 = prueba_0.str.find('arriendo')
# for index in range(len(prueba_1)):
#     if prueba_1[index] >= 0:
#         print('error')

## Pregunta 1, parte 3

### Esquema para agregar las columnas `price per m2` y `garajes`

* Se desarrollarán funciones que procesen las columnas `url`.
* Se crearán nuevas columnas a partir de las columnas mapeadas a partir de las funciones creadas.
* Se agregarán estas columnas a `df`.

#### Funciones

Se detallan las funciones que mapearán las columnas a continuación:

In [16]:
# Función que mapeará la columna `url`
def n_garaje(s:str)->str: 
    """
    Función que toma una url en forma de `str` y retorna un `str`, que será
    el número de garajes para la vivienda de esa url.
    """
    i_garaje = s.find('-garajes')
    
    # No se encuentra el garaje
    if i_garaje is -1: 
        return '0'
    
    # rescata el str con el número. Puede ser un número de la forma '4+'
    s_hasta_garaje = s[:i_garaje] # Se recortará el str hasta la aparición de '-garajes'
    i_garaje_ = s_hasta_garaje.rfind('-') + 1 # Se encontrará el índice siguiente de un guión '-'
    
    return s_hasta_garaje[i_garaje_:] # Se entrega el resto después de ese índice

#### Procesamiento de columnas

Se crearán las columnas y se procesarán para ser entregadas.

In [17]:
#columna de los garajes
garajes_col = df['url'].map(n_garaje)

# Columna producto de la división entre las columnas de precio y superficie
p_por_s_col = (df['price_$'] / df['surface_m2']).map(lambda x: round(x, 2))

#### Rotulación de columnas y añadirlas a `df`

In [18]:
df_ppm_and_g = pd.DataFrame(
    data={
        'price_per_m2_$/m2':p_por_s_col,
        'garajes':garajes_col
    }
)

df = pd.concat([df, df_ppm_and_g], axis=1)

## Pregunta 1, parte 4

### Esquema para clasificar:

In [19]:
# crear las 8 clasificaciones con el comando query, ademas, se crean columnmas con enteros 
# que representan dicha clasificacion

expr_base = 'tipo_de_inmueble == "{tipo_inmueble}" ' \
          + 'and surface_m2 >= {cota_inf} ' \
          + 'and surface_m2 {desig} {cota_sup}'

L_inmuebles = ['Casa']*5 + ['Apartamento']*3
bnds_sym_r = ['<']*4 + ['<='] \
           + ['<']*2 + ['<=']

L_bnds_casa = list(map(str, [80, 120, 180, 240, 360, 460]))
L_bnds_apart = list(map(str, [40, 60, 80, 120]))

bnds = [(L_bnds_casa[i], L_bnds_casa[i+1]) for i in range(len(L_bnds_casa)-1)] \
     + [(L_bnds_apart[i], L_bnds_apart[i+1]) for i in range(len(L_bnds_apart)-1)]

L_expr = [expr_base.format(
    tipo_inmueble=L_inmuebles[i], 
    cota_inf=bnds[i][0], 
    desig=bnds_sym_r[i], 
    cota_sup=bnds[i][1]
) for i in range(len(bnds))]

In [20]:
L_prod = []
tipo_prod_list = []

for i in range(len(L_expr)):
    prod = df.query(L_expr[i], inplace=False)
    list_prod = [i+1]*(prod.shape[0])
    
    L_prod.append(prod)
    tipo_prod_list += list_prod

# concateno todos los productos reseteando los indices
df = pd.concat(L_prod, ignore_index=True) 
# creo la columna con el tipo de producto
tipo_prod = pd.DataFrame(data={'Tipo_de_prod': tipo_prod_list})
# agrego la columna de tipo de producto
df = pd.concat([df, tipo_prod], axis=1)

In [21]:
# # crear las 8 clasificaciones con el comando query, ademas, se crean columnmas con enteros 
# # que representan dicha clasificacion

# # Tipo de producto 1
# prod_1 = df.query('tipo_de_inmueble == "Casa" and surface_m2 >= 80 and surface_m2 < 120', inplace = False)
# list_prod_1 = [1]*(prod_1.shape[0])
# # Tipo de producto 2
# prod_2 = df.query('tipo_de_inmueble == "Casa" and surface_m2 >= 120 and surface_m2 < 180', inplace = False)
# list_prod_2 = [2]*(prod_2.shape[0])
# # Tipo de producto 3
# prod_3 = df.query('tipo_de_inmueble == "Casa" and surface_m2 >= 180 and surface_m2 < 240', inplace = False)
# list_prod_3 = [3]*(prod_3.shape[0])
# # Tipo de producto 4
# prod_4 = df.query('tipo_de_inmueble == "Casa" and surface_m2 >= 240 and surface_m2 < 360', inplace = False)
# list_prod_4 = [4]*(prod_4.shape[0])
# # Tipo de producto 5
# prod_5 = df.query('tipo_de_inmueble == "Casa" and surface_m2 >= 360 and surface_m2 <= 460', inplace = False)
# list_prod_5 = [5]*(prod_5.shape[0])
# # Tipo de producto 6
# prod_6 = df.query('tipo_de_inmueble == "Apartamento" and surface_m2 >= 40 and surface_m2 < 60', inplace = False)
# list_prod_6 = [6]*(prod_6.shape[0])
# # Tipo de producto 7
# prod_7 = df.query('tipo_de_inmueble == "Apartamento" and surface_m2 >= 60 and surface_m2 < 80', inplace = False)
# list_prod_7 = [7]*(prod_7.shape[0])
# # Tipo de producto 8
# prod_8 = df.query('tipo_de_inmueble == "Apartamento" and surface_m2 >= 80 and surface_m2 <= 120', inplace = False)
# list_prod_8 = [8]*(prod_8.shape[0])

In [ ]:
# # concateno todos los productos reseteando los indices
# df = pd.concat([prod_1, prod_2, prod_3, prod_4, prod_5, prod_6, prod_7, prod_8], ignore_index=True) 
# # creo la columna con el tipo de producto
# tipo_prod_list = list_prod_1 + list_prod_2 + list_prod_3 + list_prod_4 + list_prod_5 + list_prod_6 + list_prod_7 +list_prod_8 
# tipo_prod = pd.DataFrame(data = {'Tipo_de_prod': tipo_prod_list})
# # agrego la columna de tipo de producto
# df = pd.concat([df, tipo_prod], axis=1)

In [22]:
df

,property_type|rent_type|location,price_$,n_rooms,n_bath,surface_m2,details,url,metrocuadrado_index,furnished,tipo_de_inmueble,tipo_de_oferta,location,price_per_m2_$/m2,garajes,Tipo_de_prod
0,"Casa en Arriendo, VILLA DE LOS ALPES II SECTOR...",750000,3,1,90.0,CASA DE TRES NIVELES TRES ALCOBAS SALA COMEDOR...,https://www.metrocuadrado.com/inmueble/arriend...,12.2,0,Casa,Arriendo,VILLA DE LOS ALPES II SECTOR Bogotá D.C..,8333.33,0,1
1,"Casa en Arriendo, SANTA ANA ORIENTAL Bogotá D.C..",2700000,2,2,90.0,La ubicación exacta de la propiedad no se publ...,https://www.metrocuadrado.com/inmueble/arriend...,55.9,0,Casa,Arriendo,SANTA ANA ORIENTAL Bogotá D.C..,30000.00,1,1
2,"Casa en Arriendo, ESTACION VICTORIA Bogotá D.C..",1500000,3,2,90.0,"Excelente Jardin, Parqueadero interno a la cas...",https://www.metrocuadrado.com/inmueble/arriend...,28.7,0,Casa,Arriendo,ESTACION VICTORIA Bogotá D.C..,16666.67,1,1
3,"Casa en Arriendo, AUTOPISTA MUZU Bogotá D.C..",1300000,4,2,90.0,"Entrada con puerta metalica, sala comedor, coc...",https://www.metrocuadrado.com/inmueble/arriend...,38.8,0,Casa,Arriendo,AUTOPISTA MUZU Bogotá D.C..,14444.44,1,1
4,"Casa en Arriendo, PORTALES DEL NORTE Bogotá D.C..",1325000,3,3,92.0,Casa en arriendo de tres niveles cerca a la Av...,https://www.metrocuadrado.com/inmueble/arriend...,50.0,0,Casa,Arriendo,PORTALES DEL NORTE Bogotá D.C..,14402.17,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15626,"Apartamento en Arriendo, LA CABRERA Bogotá D.C..",5000000,2,2,115.0,"Lindo apartamento amoblado, ubicado en un sect...",https://www.metrocuadrado.com/inmueble/arriend...,73.7,1,Apartamento,Arriendo,LA CABRERA Bogotá D.C..,43478.26,1,8
15627,"Apartamento en Arriendo, SANTA BARBARA OCCIDEN...",4390000,2,3,110.0,amoblado con terraza.,https://www.metrocuadrado.com/inmueble/arriend...,64.2,1,Apartamento,Arriendo,SANTA BARBARA OCCIDENTAL Bogotá D.C..,39909.09,2,8
15628,"Apartamento en Arriendo, ANTIGUO COUNTRY Bogot...",4500000,2,3,120.0,"Lindo apto en el sector de Chico Virrey, cerca...",https://www.metrocuadrado.com/inmueble/arriend...,55.4,1,Apartamento,Arriendo,ANTIGUO COUNTRY Bogotá D.C..,37500.00,2,8
15629,"Apartamento en Arriendo, MOLINOS NORTE Bogotá ...",4100000,2,3,114.0,"Hermoso apto, rodeado de verde por todos lados...",https://www.metrocuadrado.com/inmueble/arriend...,59.1,1,Apartamento,Arriendo,MOLINOS NORTE Bogotá D.C..,35964.91,2,8
15630,"Apartamento en Arriendo, PLENITUD Bogotá D.C..",3800000,2,4,107.0,"MAGNIFICO APARTAMENTO DUPLEX AMOBLADO, A DOS C...",https://www.metrocuadrado.com/inmueble/arriend...,68.9,1,Apartamento,Arriendo,PLENITUD Bogotá D.C..,35514.02,2,8

## Pregunta 1, parte 5

In [23]:
# packete que permite controlar el directorio de trabajo 
import os
# path del directorio de trabajo 
cwd = os.getcwd()
# cargar data
df_upz = pd.read_csv(cwd[:-7]+'data\\asignacion_upz\\barrio-upz.csv')

In [24]:
# se crea la columna location que es la columna 'location' de df, a la que 
# se le cambian todas las letras por minusculas y se le hace un split 
# para ver las palabras enlistadas   
location = df['location'].str.lower()
location = location.str.split(pat = " ")

# se crea la columna pro_location que es la columna 'pro_location' de df_upz, a la que 
# se le cambian todas las letras por minusculas y se le hace un split 
# para ver las palabras enlistadas   
pro_location = df_upz['pro_location'].str.lower()
pro_location = pro_location.str.split(pat = " ")

In [35]:
# Se crea una lista con los codigos de upz de df_upz que corresponden a cada fila de df
# en caso de que no se encuentre ningun representante en df_upz, se pone un -1
# Se usa el hecho de que uan fila en df se puede asignar a lo mas a una fila en upz 
# (algoritmo celda siguiente)
upz_list = []

# Se elige un elemento (lista por el split) de location
for name_df_completo in location:
    # Se acorta para sacar el primer elemento (['']) y el los dos ultimos (['Bogota', 'D.C..'])
    name_df = name_df_completo[1:-2] 
    # se fija un indice inicial para iterar sobre todos los indices de df_upz hasta encontrar
    # un representante
    indice_upz = 0  
    index_encontrado = False 
    while not(index_encontrado) and indice_upz < len(pro_location):
        # nos aseguramos que es una lista desde el split y no un 'nan'
        if type(pro_location[indice_upz]) == list:
            # vemos si pro_location[indice_upz] es el representante 
            if pro_location[indice_upz] == name_df:
                # en este caso paramos el loop
                index_encontrado = True 
            # sino, se continua con el otro indice 
            else:
                indice_upz = indice_upz + 1
        # sino, se continua con el otro indice 
        else:
            indice_upz = indice_upz + 1 
    # Luego terminar el loop, tenemos dos casos
    # se encontro un indice
    if index_encontrado:
        upz_list.append(df_upz['UPlCodigo'][indice_upz]) 
    else:
        upz_list.append(-1)

In [37]:
# crear columna de codigo upz y agregar al dataframe df
upz_code = pd.DataFrame(data={'upz_codigo': upz_list})
df = pd.concat([df, upz_code], axis=1)

In [39]:
# Numero de observaciones que no tienen codigo upz asignado
print('Numero de observaciones sin codigo upz asignado:', df[df['upz_codigo'] == -1].shape[0])

Numero de observaciones sin codigo upz asignado: 1713

In [41]:
# barrios que no tienen codigo upz asigando (sin repeticion por el set)
barrios = set((df[df['upz_codigo'] == -1]['location']).tolist())
# Numero de barrios sin codigo upz
print('Numero de barrios sin codigo upz:', len(barrios))

Numero de barrios sin codigo upz: 150

In [69]:
# Seleccionar solo las observaciones que tienen codigo upz
df = df[df['upz_codigo'] != -1] 
df.reset_index(inplace = True)
df = df[df.columns[1:]]

## Pregunta 1, parte 6

In [51]:
# cargar data estadisticas_poblacion.csv
df_poblacion = pd.read_csv(cwd[:-7]+'data\\estadisticas_upz\\estadisticas_poblacion.csv')
# cargar data indice_inseguridad.csv
df_inseg = pd.read_csv(cwd[:-7]+'data\\estadisticas_upz\\indice_inseguridad.csv')
# cargar data porcentaje_areas_verdes.csv
df_a_verdes = pd.read_csv(cwd[:-7]+'data\\estadisticas_upz\\porcentaje_areas_verdes.csv')

In [71]:
# crear columna con indice de inseguridad
ins_list = []
for index_df in range(df.shape[0]):
    upz_code = df['upz_codigo'][index_df]
    # Si hay exactamente 1 indice de inseguridad para la observacion la agrego
    if df_inseg[df_inseg['UPlCodigo'] == upz_code].shape[0] == 1:
        ins_ind = df_inseg[df_inseg['UPlCodigo'] == upz_code]['indice_inseguridad'].iloc[0]
        ins_list.append(ins_ind)
    # Si no, agrego un -1 a la lista 
    else:
        print('Caso raro reportado')
        ins_list.append(-1)

Caso raro reportado

In [72]:
# Nota: hay una observacion a la que no se puede agregar indice de inseguridad

# Se crea la columna, se agrega al data frame, y se quita la observacion con
# indice de inseguridad -1
ins_ind = pd.DataFrame(data={'Indice_inseguridad': ins_list})
df = pd.concat([df, ins_ind], axis=1)
# Se quita la observaion y se resetean los indices
df = df[df['Indice_inseguridad'] != -1] 
df.reset_index(inplace = True)
df = df[df.columns[1:]]

In [79]:
# crear columna con indice de areas_verdes_perc
areas_list = []
for index_df in range(df.shape[0]):
    upz_code = float(df['upz_codigo'][index_df][3:])
    # Si hay exactamente 1 indice de inseguridad para la observacion la agrego
    if df_a_verdes[df_a_verdes['cod_upz'] == upz_code].shape[0] == 1:
        areas_ind = df_a_verdes[df_a_verdes['cod_upz'] == upz_code]['areas_verdes_perc'].iloc[0]
        areas_list.append(areas_ind)
    # Si no, agrego un -1 a la lista 
    else:
        print('Caso raro reportado')
        areas_list.append(-1)

In [80]:
# Se crea la columna, se agrega al data frame (no se quita el -1 porque no hay)
areas_col = pd.DataFrame(data={'areas_verdes_perc': areas_list})
df = pd.concat([df, areas_col], axis=1)

In [90]:
# crear columnas con datos del data frame df_poblacion
# como son 7 columnas, se les llamara solo por sus indices
list_0_col = []
list_1_col = []
list_2_col = []
list_3_col = []
list_4_col = []
list_5_col = []
list_6_col = []

for index_df in range(df.shape[0]):
    upz_code = df['upz_codigo'][index_df]
    # Si hay exactamente 1 indice de inseguridad para la observacion la agrego
    if df_poblacion[df_poblacion['upz'] == upz_code].shape[0] == 1:
        dato_0 = df_poblacion[df_poblacion['upz'] == upz_code][df_poblacion.columns[3]].iloc[0]
        list_0_col.append(dato_0)
        dato_1 = df_poblacion[df_poblacion['upz'] == upz_code][df_poblacion.columns[4]].iloc[0]
        list_1_col.append(dato_1)
        dato_2 = df_poblacion[df_poblacion['upz'] == upz_code][df_poblacion.columns[5]].iloc[0]
        list_2_col.append(dato_2)
        dato_3 = df_poblacion[df_poblacion['upz'] == upz_code][df_poblacion.columns[6]].iloc[0]
        list_3_col.append(dato_3)
        dato_4 = df_poblacion[df_poblacion['upz'] == upz_code][df_poblacion.columns[7]].iloc[0]
        list_4_col.append(dato_4)
        dato_5 = df_poblacion[df_poblacion['upz'] == upz_code][df_poblacion.columns[8]].iloc[0]
        list_5_col.append(dato_5)
        dato_6 = df_poblacion[df_poblacion['upz'] == upz_code][df_poblacion.columns[9]].iloc[0]
        list_6_col.append(dato_6)
    # Si no, agrego un -1 a la lista 
    else:
        print('Caso raro reportado')
        list_0_col.append(-1)
        list_1_col.append(-1)
        list_2_col.append(-1)
        list_3_col.append(-1)
        list_4_col.append(-1)
        list_5_col.append(-1)
        list_6_col.append(-1)

In [91]:
# Se crean las columnas, se agrega al data frame (no se quita el -1 porque no hay)
col_0 = pd.DataFrame(data={df_poblacion.columns[3]: list_0_col})
df = pd.concat([df, col_0], axis=1)
col_1 = pd.DataFrame(data={df_poblacion.columns[4]: list_1_col})
df = pd.concat([df, col_1], axis=1)
col_2 = pd.DataFrame(data={df_poblacion.columns[5]: list_2_col})
df = pd.concat([df, col_2], axis=1)
col_3 = pd.DataFrame(data={df_poblacion.columns[6]: list_3_col})
df = pd.concat([df, col_3], axis=1)
col_4 = pd.DataFrame(data={df_poblacion.columns[7]: list_4_col})
df = pd.concat([df, col_4], axis=1)
col_5 = pd.DataFrame(data={df_poblacion.columns[8]: list_5_col})
df = pd.concat([df, col_5], axis=1)
col_6 = pd.DataFrame(data={df_poblacion.columns[9]: list_6_col})
df = pd.concat([df, col_6], axis=1)

In [102]:
df[df.columns[:20]]

,property_type|rent_type|location,price_$,n_rooms,n_bath,surface_m2,details,url,metrocuadrado_index,furnished,tipo_de_inmueble,...,personas,personas,personas,personas,personas,personas,personas,personas,personas,personas
0,"Casa en Arriendo, SANTA ANA ORIENTAL Bogotá D.C..",2700000,2,2,90.0,La ubicación exacta de la propiedad no se publ...,https://www.metrocuadrado.com/inmueble/arriend...,55.9,0,Casa,...,115124,115124,115124,115124,115124,115124,115124,115124,115124,115124
1,"Casa en Arriendo, ESTACION VICTORIA Bogotá D.C..",1500000,3,2,90.0,"Excelente Jardin, Parqueadero interno a la cas...",https://www.metrocuadrado.com/inmueble/arriend...,28.7,0,Casa,...,24897,24897,24897,24897,24897,24897,24897,24897,24897,24897
2,"Casa en Arriendo, AUTOPISTA MUZU Bogotá D.C..",1300000,4,2,90.0,"Entrada con puerta metalica, sala comedor, coc...",https://www.metrocuadrado.com/inmueble/arriend...,38.8,0,Casa,...,50106,50106,50106,50106,50106,50106,50106,50106,50106,50106
3,"Casa en Arriendo, SANTA ANA OCCIDENTAL Bogotá ...",1800000,2,3,100.0,"Casa muy bien ubicada, amplia con opción para ...",https://www.metrocuadrado.com/inmueble/arriend...,49.8,0,Casa,...,115124,115124,115124,115124,115124,115124,115124,115124,115124,115124
4,"Casa en Arriendo, SANTA BARBARA Bogotá D.C..",850000,3,2,84.0,Oportunidad casa No Conjunto Residencial Lago...,https://www.metrocuadrado.com/inmueble/arriend...,29.0,0,Casa,...,22440,22440,22440,22440,22440,22440,22440,22440,22440,22440
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13912,"Apartamento en Arriendo, LA CABRERA Bogotá D.C..",5000000,2,2,115.0,"Lindo apartamento amoblado, ubicado en un sect...",https://www.metrocuadrado.com/inmueble/arriend...,73.7,1,Apartamento,...,52951,52951,52951,52951,52951,52951,52951,52951,52951,52951
13913,"Apartamento en Arriendo, SANTA BARBARA OCCIDEN...",4390000,2,3,110.0,amoblado con terraza.,https://www.metrocuadrado.com/inmueble/arriend...,64.2,1,Apartamento,...,115124,115124,115124,115124,115124,115124,115124,115124,115124,115124
13914,"Apartamento en Arriendo, ANTIGUO COUNTRY Bogot...",4500000,2,3,120.0,"Lindo apto en el sector de Chico Virrey, cerca...",https://www.metrocuadrado.com/inmueble/arriend...,55.4,1,Apartamento,...,52951,52951,52951,52951,52951,52951,52951,52951,52951,52951
13915,"Apartamento en Arriendo, MOLINOS NORTE Bogotá ...",4100000,2,3,114.0,"Hermoso apto, rodeado de verde por todos lados...",https://www.metrocuadrado.com/inmueble/arriend...,59.1,1,Apartamento,...,115124,115124,115124,115124,115124,115124,115124,115124,115124,115124
13916,"Apartamento en Arriendo, PLENITUD Bogotá D.C..",3800000,2,4,107.0,"MAGNIFICO APARTAMENTO DUPLEX AMOBLADO, A DOS C...",https://www.metrocuadrado.com/inmueble/arriend...,68.9,1,Apartamento,...,52601,52601,52601,52601,52601,52601,52601,52601,52601,52601

In [89]:
df_poblacion.columns[10]

IndexError: index 10 is out of bounds for axis 0 with size 10

In [85]:
len(df_poblacion.columns[3:])

7

In [ ]:
df